@(places: List[Place])(implicit flash: Flash)


@main("List view"){
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/list.css")">
}{
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Location</th>
        <th>Country</th>
        <th>Picture</th>
    </tr>
    </thead>
    <tbody>
    @for(currentPlace <- places){
    <tr>
        <td>@currentPlace.id</td>
        <td>@currentPlace.name</td>
        <td>@currentPlace.country</td>
        <td><img style="height: 50px" src="@routes.PlaceController.retrievePictureOfPlace(currentPlace.id)"/> </td>
    </tr>
    }
    </tbody>
</table>
}