@(places: List[Place])



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List view</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
</head>
<body>
    <p>Hello, this is list</p>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @for(currentPlace <- places){
                <tr>
                    <td>Cheese</td>
                    <td>Edam</td>
                    <td>Blue</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>