@(places: List[Place])(implicit flash: Flash)


@main("List view"){
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/list.css")">
}{
<table class="table table-striped">
    <thead>
    <tr>
        <th>Location</th>
        <th>Country</th>
        <th>Picture</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @for(currentPlace <- places){
    <tr>
        <td><a href="@routes.Application.showPlace(currentPlace.id)">@currentPlace.name</a></td>
        <td><a href="@routes.Application.showPlace(currentPlace.id)">@currentPlace.country</a></td>
        <td><a href="@routes.Application.showPlace(currentPlace.id)"><img style="height: 50px" src="data:image/jpg;base64,@currentPlace.picture"/></a></td>
        <td><a class="glyphicon glyphicon-pencil" href="@routes.Application.editPlace(currentPlace.id)"></a></td>
        <td><a class="glyphicon glyphicon-trash" onclick="javascript:del('@routes.Application.deletePlace(currentPlace.id)')"></a></td>
    </tr>
    }
    </tbody>
</table>
}