@(title: String)(head: Html)(content: Html)(implicit flash: Flash)

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body class="container">
    @if(flash.get("success").nonEmpty){
        <div class="alert alert-success">
            @flash.get("success").getOrElse("")
        </div>
    }

    @if(flash.get("error").nonEmpty){
        <div class="alert alert-danger">
            @flash.get("error").getOrElse("")
        </div>
    }


    <h1>Picture gallery</h1>
    <div class="view-buttons pull-right">
        <!--TODO fix broken link -->
        <a class="btn btn-primary btn-lrg" href="TODO">Add place</a>
        <a class="btn btn-default btn-lrg" href="@routes.Application.showGrid()">
            <span class="glyphicon glyphicon-th"></span>
        </a>
        <a class="btn btn-default btn-lrg" href="@routes.Application.showList()">
            <span class="glyphicon glyphicon-th-list"></span>
        </a>
    </div>

    @*************
        Content
    *************@
    @content

    <footer>
        <p>
        Created by Muhsin Ali.<br>
        The images used have been obtained under the Creative Commons (CC0) license.<br>
        The descriptions of each place have been obtained from Wikipedia under the Creative Commons Attribution-ShareAlike License 3.0.
        </p>
    </footer>
</body>
</html>
