<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Page not found</title>

    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/notFound.css")">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>&#x1f605</h1>
            <h1>404 - Oops!</h1>
            <h4>Looks like something went wrong!</h4>
            <br />
            <h4><a href="@routes.Application.index">Head back to the homepage?</a></h4>
        </div>
    </div>

</div>
</body>
</html>