@(placeForm: Form[PlaceData], pictureUrl: Option[String])(implicit flash: Flash, messages: Messages)
@import helper._


@main("Add/edit form"){
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/placeForm.css")">
}{

<div id="place-details">
    <div id="left-div" class="pull-left">
        @form(action = routes.Application.uploadPlace(), 'enctype -> "multipart/form-data") {
        <fieldset>
            <legend>Add/edit a place</legend>
            <input type="hidden" value="@placeForm("id").value.getOrElse("")" name="id"/>
            @inputText(placeForm("name"), '_label -> "Name", 'placeholder -> "London")
            @inputText(placeForm("country"), '_label -> "Country", 'placeholder -> "United Kingdom")
            @textarea(placeForm("description"), '_label -> "Description", 'placeholder -> "Type a description here")
            @inputFile(placeForm("picture"), '_label -> "Picture")
        </fieldset>

        <div class="pull-right">
            <input type="submit" class="btn btn-success" value="Save place">
            @if(placeForm("id").value.isDefined){
                <a href="@routes.Application.showPlace(placeForm("id").value.get.toInt)" class="btn btn-default">Cancel</a>
            } else {
                <a href="@routes.Application.showGridView()" class="btn btn-default">Cancel</a>
            }
        </div>
        }
    </div>

        @if(pictureUrl.isDefined){
            <div id="right-div" class="pull-right">
                <h4>Current picture</h4>
                <img src="@pictureUrl.get" />
            </div>
        }
</div>

}