@(place: Place)(implicit flash: Flash)


@main("Show Place"){
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/showPlace.css")">
}{
<script>
        function del(urlToDelete) {
            $.ajax({
                url: urlToDelete,
                type: 'DELETE',
                success: function(results) {
                    location = '/';
                }
            });
        }
    </script>

<div id="place-details">
    <div id="left-div" class="pull-left">
        <h4>Name</h4>
        <p>@place.name</p>

        <h4>Country</h4>
        <p>@place.country</p>

        <h4>Description</h4>
        <p>@place.description</p>
    </div>


    @if(place.picture != null){
    <div id="right-div" class="pull-right">
        <h4>Current picture</h4>
        <img src="/picture/@place.id" />
    </div>
    }
</div>
}

