@(place: Place)(implicit flash: Flash)


@main(place.name){
<link rel="stylesheet" media="screen" href="https://muhsinali-picture-gallery-static.s3.amazonaws.com/showPlace.css">
}{
<div id="place-details">
    <div id="left-div" class="pull-left">
        <h4>Name</h4>
        <p>@place.name</p>

        <h4>Country</h4>
        <p>@place.country</p>

        <h4>Description</h4>
        <p>@place.description</p>

        <div class="pull-right">
            <a class="btn btn-default" href="@routes.Application.editPlace(place.id)">Edit</a>
            <a class="btn btn-danger" onclick="javascript:del('@routes.Application.deletePlace(place.id)')">Delete</a>
        </div>
    </div>


    <div id="right-div" class="pull-right">
        <img src="@place.pictureUrl" />
    </div>
</div>
}

