@(place: Place)(implicit flash: Flash)


@main("Show Place"){
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/showPlace.css")">
}{
<div id="place-details">
    <div id="left-div" class="pull-left">
        <h4>Name</h4>
        <p>@place.name</p>

        <h4>Country</h4>
        <p>@place.country</p>

        <h4>Description</h4>
        <p>@place.description</p>

        <div class="pull-right">
            <a class="btn btn-default" href="@routes.Application.editPlace(place.id)">Edit</a>
            <a class="btn btn-danger" onclick="javascript:del('@routes.Application.deletePlace(place.id)')">Delete</a>
        </div>
    </div>


    @if(place.picture != null){
    <div id="right-div" class="pull-right">
        <h4>Current picture</h4>
        <img src="@routes.Application.getPictureOfPlace(place.id)" />
    </div>
    }
</div>
}

